@CHARSET "UTF-8";
*{margin:0px;padding:0px;}
		#myphoto{
			width:980px;
			background-color:#888888;
			border:1px solid #eeeeee;
			margin:20px auto 0px auto;
			text-align:center;
		}
			#myphoto > img{
				width:640px;height:640px;
				border-top:4px solid #cc33db;
				border-left:4px dotted #cc33db;
				border-right:4px dashed #990099;
				border-bottom:4px solid #990099;
			}
		
		#myinfo{
			border-bottom: 10px solid #ff0000;
			font-size:1.5em;
			text-align : left;
		}
		#myinfo ul{
		list-style:square;
		margin-left:150px;
		}
		#myinfo > ul> li>span.label{
			text-decoration: underline;
		
		}
		#myinfo > ul> li>span..content{
			font-weight : bold;
		}